
.info {
	background-color: LightBlue;
	padding: 50px;
	border-radius: 25px;
	border: 2px solid #73AD21;

}

#mmed_info {
	color: brown;
}

#pgdfm_info {
	color: purple;
}

.second_second {
	padding: 20px;
	top-margin: 40px;

}

p {

}

i {

}

h1 {

}
